/* .page.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  margin-top: 320px;
  background-image: url('/src/assets/images/image6.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
}

.page.home h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.page.home p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  max-width: 800px;
  color: white;
}

.page.home h3 {
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

/* Media Queries */
/* @media (max-width: 1200px) {
  .page.home h2 {
    font-size: 2rem;
  }
  
  .page.home h3 {
    font-size: 1.5rem;
  }
  
  .page.home p {
    font-size: 1rem;
    color: white;
  }
}

@media (max-width: 768px) {
  .page.home {
    padding: 1rem;
  }
  
  .page.home h2 {
    font-size: 1.8rem;
  }
  
  .page.home h3 {
    font-size: 1.3rem;
  }
  
  .page.home p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .page.home h2 {
    font-size: 1.5rem;
  }
  
  .page.home h3 {
    font-size: 1.1rem;
  }
  
  .page.home p {
    font-size: 0.8rem;
  }
}

.imagehome {
 width: 500px;
 border-radius: 100px;
 height: 300px;
 border: 1px solid pink;
} */

.home-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.home-info{
  display: flex;
  border-radius: 20px;
  /* border: 1px solid black; */
  margin-left: 70px;
}

 .image-home{
  /* border: 2px solid black; */
  /* padding: 25px; */
  /* background: url('/src/assets/images/image7.jpeg'); */
  background-repeat: no-repeat;
  background-size: auto;
  width: 350px;
  height: 450px;
  border-radius:203px;
 }


 h1,
 h2,
 p{
  color: white;
 }