.produs {
   
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 36px 36px 36px 36px;
    background-color:  #ffffff5e;;
    transition: box-shadow 0.3s ease;
    width: 200px;
  }
  
  .produs:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .produs--large {
    
    width: 200px; 
  }
  
  .produs--small {
    
    width: 200px; 
  }
  .produs__image {
    
    width: 100%;
    height: auto;
    /* border-radius: 100%; */
    margin-bottom: 16px;
    margin-top: 10px;
  }
  
  .produs__bookmark {
    
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ccc;
    cursor: pointer;
  }
  
  .produs__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 8px;
  }
  
  .produs__year,
  .produs__rating,
  .produs__category {
    
    margin-right: 8px;
    font-size: 0.9em;
    color: white;
  }
  
  .produs__title {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
  }
  
  .produs-list li {
    background-color: #ffffff5e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 200px;
}
 


 