header {
  background-color: #376775;
  padding: 1rem;
  color: #376775;
  width: 100%;
}


nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background-color: #376775;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}


li{
  color: white;
}