/* .search-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 300px;
    
  }
  
  .search-icon {
    /* position: absolute; */
    /* stroke: white; */
    /* margin-left: 120px; */
  
  
  /* .search {
    padding-left: 20px;
    width: 300px;
   
  }  */ 

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-container input {
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    padding-left: 40px; 
    padding-right: 40px; 
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #0a2b34;
  }
  
  .search-container input:focus {
    outline: none;
    border-color: aqua;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  }
  
  .search-container input::placeholder {
    color: #888;
    font-style: italic;
  }
  
  .search-icon {
    position: relative;
    left: 40px;
    font-size: 20px;
    color: #888;
    top: -4px;
  }
  
  .clear-icon {
    position: relative;
    right: 30px;
    top: -4px;
    font-size: 20px;
    color: #888;
    cursor: pointer;
  }
  
  .clear-icon:hover {
    color: #ff0000;
  }