.search-container {
  display: flex;
  align-items: center;
  background-color: #6e94bc;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #666;
}

.search {
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 5px;
  width: 100%; /* Ajustează lățimea câmpului de căutare conform necesităților */
  font-size: 16px;
  transition: width 0.3s; /* Adaugă o tranziție pentru lățimea câmpului de căutare */
}

.search::placeholder {
  color: #999;

}

.search:focus {
  border: 2px solid gray; /* Schimbă culoarea chenarului când câmpul de căutare este focusat */
  width: 100%; /* Extinde câmpul de căutare când este focusat */
  border-radius: 20px;
}

