.produs-detail__category{
    color: white;
}

img{
    height: 300px;
    /* border-radius: 10%; */
    
}

.produs-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-edit-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.produs-detail{
    display: flex;
}

/* .button-produsdetails{
    color: white;
   
} */